<!DOCTYPE html>
<html ng-app="workTimeTrackerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ng-work-time-tracker</title>
    <meta name="description" content="Simple time tracker that makes it easy to record what are you doing at office">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="css/obvious-buttons.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
  </head>
  <body class="bg-{{currentActivity.cssClass || 'default'}}">
    <header class="header">
      <h1 class="header-title">ng-work-time-tracker</h1>
      <p class="header-desctiption">Simple time tracker that makes it easy to record what are you doing at office</p>
    </header>
    <ul class="button-list" ng-controller="ActivityListCtrl">
      <li ng-repeat="activity in activities">
        <button ng-click="setCurrentActivity(activity)" class="button button-xlarge button-{{activity.cssClass}}" ng-class="{'is-active': currentActivity==activity}">{{activity.name}}</button>
      </li>
    </ul>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
